<%= form_with(model: rule) do |form| %>
  <% if rule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
        <% rule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :written_rule, style: "display: block" %>
    <%= form.textarea :written_rule %>
  </div>

  <div>
    <%= form.label :functional_rule, style: "display: block" %>
    <%= form.textarea :functional_rule %>
  </div>

  <div>
    <%= form.label :example_mitigation, style: "display: block" %>
    <%= form.textarea :example_mitigation %>
  </div>

  <div>
    <%= form.label :example_observation, style: "display: block" %>
    <%= form.textarea :example_observation %>
    <%= form.submit "Test rule", formaction: test_rule_path, data: { turbo_frame: "test_rule" } %>
    <%= turbo_frame_tag 'test_rule' do %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
