<div id="<%= dom_id rule %>">
  <p>
    <strong>Name:</strong>
    <%= rule.name %>
  </p>

  <p>
    <strong>Written rule:</strong>
    <%= rule.written_rule %>
  </p>

  <p>
    <strong>Functional rule:</strong>
    <%= rule.functional_rule %>
  </p>

  <p>
    <strong>Example mitigation:</strong>
    <%= rule.example_mitigation %>
  </p>

</div>
