<p style="color: green"><%= notice %></p>

<%= render @rule %>

<div>
  <%- if can? :edit, @rule %>
    <%= link_to "Edit this rule", edit_rule_path(@rule) %> |
  <% end %>
  <%= link_to "Back to rules", rules_path %>

  <%- if can? :destroy, @rule %>
    <%= button_to "Destroy this rule", @rule, method: :delete %>
  <% end %>
</div>
