<p style="color: green"><%= notice %></p>

<%= render @observation %>

<div>
  <%= link_to "Edit this observation", edit_observation_path(@observation) %> |
  <%= link_to "Back to observations", observations_path %>

  <%= turbo_frame_tag 'observation_results' do %>
    <%= button_to "Evaluate this observation against rules at the time of observation", observation_run_path(@observation, historical: true), method: :post %>
    <%= button_to "Evaluate this observation against current rules", observation_run_path(@observation), method: :post %>
    <%- if @observation_results.present? %>
      <div>
      <%- @observation_results.each do |r| %>
        <ul>
          <li>
            <%- if can? :read, r[:rule] %>
              <%= link_to(r[:rule].name, rule_path(r[:rule]), data: { turbo: false}) %>
            <% else %>
              <%= r[:rule].name %>
            <% end %>
            <% if r[:is_vulnerable] %>
              <div>
                Bridge Mitigations: <%= r[:mitigations][:bridge_mitigations] %>
              </div>
              <div>
                Full Mitigations: <%= r[:mitigations][:full_mitigations] %>
              </div>
            <% else %>
              <span> No vulnerability found </span>
            <% end %>
          </li>
        </ul>
      <% end %>
      </div>
    <% end %>
  <% end %>
  <%= button_to "Destroy this observation", @observation, method: :delete %>
</div>
