<p style="color: green"><%= notice %></p>

<%= render @property %>

<% if can? :view, Observation %>
  <div class="property_observation_wrap">
    <% if @observations.any? %>
      <ul>
    <% end %>
    <% @observations.each do |observation| %>
      <li> <%= link_to "Observation made at #{observation.observed_at}", observation_path(observation) %> </li>
    <% end %>
    <% if @observations.any? %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag "property_new_observation_form" do %>
  <%= link_to "Make an observation about this property", property_new_observation_path(@property) %>
<% end %>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>

  <%= button_to "Destroy this property", @property, method: :delete %>
</div>
